* {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        body {
            background-color: #f8f5d7;
            display: flex;
            align-items: center;
            text-align: center;
        }
        header {
            width: 100%;
            text-align: center;
            font-size: 12px;
            padding: 10px 0;
        }
        nav ul {
            list-style: none;
            padding: 10px;
            display: flex;
            justify-content: center;
            background-color: #333;
        }
        nav ul li {
            margin: 0 15px;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }
        main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 90%;
            margin-top: 20px;
        }
        .content {
            flex: 3;
            padding: 20px;
            background-color: #cce7ff;
        }
        aside {
            flex: 1;
            background-color: #f08080;
            padding: 20px;
        }
        article {
            background-color: #5a7d95;
            padding: 20px;
            color: white;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .titles {
            display: flex;
            margin-top: 20px;
        }
        .title-box {
            background-color: #ffcc66;
            padding: 20px;
            margin: 10px 0;
            display: flex;
            align-items: center;
        }
        .title-box img {
            width: 200px;
            height: 50px;
            margin-bottom: 10px;
        }
        @media (min-width: 768px) {
            main {
                display: flex;
            }
            .content {
                flex: 2;
            }
            aside {
                flex: 1;
                text-align: center;
            }
            .content article {
                display: flex;
                align-items: center;
                text-align: left;
            }
            .titles-container {
                display: flex;
            }
            .links-titles-wrapper {
                display: flex;
                justify-content: space-between;
            }
            aside {
                flex: 1;
            }
        }